.created-by{
    width: 100%;
    background-color: black;
    text-align: end;
    padding-inline-end: 2vw;
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    font-weight: 300;
    border-top: 1px solid #527F8E;
    padding-top: 2vh;
    padding-bottom: 2vh;
}